<a href="https://colab.research.google.com/github/Badhippie/ABreathofFreshAir/blob/main/Data_Science_Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Capstone

## Intro

In [3]:
import pandas as pd
import numpy as np

In [4]:
# Opening statement
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

## Part 1: Read in Dataframe

In [8]:
geo_data = pd.read_csv('/Geospatial_Coordinates.csv')
geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476